body {
  margin: 0px;
  background-color: rgba(54, 168, 134, 0.699);
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: lightgreen;
  align-items: center;
  color: grey;
}

.first-two-sections-holder {
  display: flex;
  flex-direction: row;
}

.student-number {
  font-size: medium;
  font-weight: 500;
  margin-right: 10px;
}

.header-name {
  font-size: x-large;
  margin-left: 10px;
  font-weight: 600;
}

.header-tabs {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.nav-link {
  text-decoration: none;
  color: grey;
  background-color: rgb(99, 231, 99);
  padding: 3px;
  border: 1px;
  border-radius: 5px;
}

.nav-link:hover {
  color: white;
  background-color: rgb(48, 228, 48);
}

.dice-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  flex-direction: column;
  padding-bottom: 20px;
  width: 50%;
}
.dice-throw {
  display: flex;
  flex-direction: row;
}
.dice-header {
  font-size: 20px;
}
#dice-message {
  font-size: x-large;
  color: gold;
}

#clear-local-storage {
  display: none;
}

.clear-actions {
  text-align: center;
}
.confirm-clear {
  background-color: green;
  border-radius: 5px;
  margin-right: 5px;
  opacity: 0.5;
}
.disconfirm-clear {
  background-color: red;
  border-radius: 5px;
  opacity: 0.5;
}

#roll-button {
  background: darkolivegreen;
  width: 120px;
  height: 36px;
  font-weight: 600;
  color: white;
  border-radius: 5px;
  border-color: none;
  margin-right: 15px;
}

#roll-result {
  font-size: 36px;
  text-align: center;
  color: white;
}

#get-todo {
  background: rgb(86, 214, 86);
  border-radius: 5px;
  color: white;
  margin-top: 10px;
  font-size: larger;
  cursor: pointer;
}
.get-response {
  padding-left: 20px;
}

.todo-header {
  font-size: 20px;
  color: white;
  text-align: center;
}

.style-section {
  padding-top: 20px;
  background: purple;
  opacity: 0.5;
  width: 50%;
}

#accordion {
  background-color: rgb(47, 146, 47);
}

.accordion-header {
  font-size: 30px;
  text-align: center;
}

.accordion-section {
  border: 3px;
  border-style: solid;
  color: black;
  border-color: rgb(140, 192, 18);
  cursor: pointer;
  padding: 5px;
}
