body {
  margin: 0px;
  background-color: rgba(54, 168, 134, 0.699);
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: lightgreen;
  align-items: center;
  color: grey;
}

.student-number {
  font-size: medium;
  font-weight: 500;
  margin-right: 10px;
}

.header-name {
  font-size: x-large;
  margin-left: 10px;
  font-weight: 600;
}

.dice-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  flex-direction: column;
}
.dice-throw {
  display: flex;
  flex-direction: row;
}

#dice-message {
  font-size: x-large;
  color: gold;
}

#clear-local-storage {
  display: none;
}

#roll-button {
  background: darkolivegreen;
  width: 120px;
  height: 36px;
  font-weight: 600;
  color: white;
  border-radius: 5px;
  border-color: none;
  margin-right: 15px;
}

#roll-result {
  font-size: 36px;
  text-align: center;
  color: white;
}
